{% from "macros.html" import icon_chevron_left %}
<!-- Left Sidebar -->
<aside class="left-sidebar" id="left-sidebar">
  <div class="sidebar-inner">
    {% include "chat/sidebar/preset-section.html" %}
    {% include "chat/sidebar/preset-variables-section.html" %}
    {% include "chat/sidebar/tools-section.html" %}
    {% include "chat/sidebar/status-section.html" %}
  </div>
</aside>

<!-- Collapsed left tab -->
<div id="left-tab" class="left-tab hidden" onclick="toggleSidebar('left')" role="button" tabindex="0">
  <div class="sidebar-title sidebar-title-v">{{ icon_chevron_left() }} Preset</div>
</div>
