<div
  id="message-list-data"
  data-last-role="{{ messages[-1].role if messages else '' }}"
  data-char-name="{{ character.name if character else 'Assistant' }}"
  data-char-image="{{ character.image_path if character and character.image_path else '' }}"
  data-persona-name="{{ persona.name if persona else 'You' }}"
  data-persona-avatar="{{ persona.avatar_path if persona and persona.avatar_path else '' }}"
  style="display: none"
></div>
{% for message in messages %} {% set is_latest = loop.last %} {% set msg_index = loop.index %} {% include "chat/message.html" %} {%
endfor %}
<div id="scroll-sentinel" style="height: 1px"></div>
